@font-face {
    font-family: din;
    src: url("../fonts/din-2014.otf");
}

@layer styleguide {
    :root{
        --primary-text-color: #ffffff;
        --secondary-text-color: #52a4d6;
        
        --primary-background-color:#082036;
        --secondary-background-color:#ffffff;
        --quote-background-color: #12314D;
        --contact-background-color: #1a4973;
        --button-color: #52a4d6;

        --h1-font-size-desktop:96px;
        --h1-font-size-tablet:72px;
        --h1-font-size-mobile:64px;
        --h1-letter-spacing:3%;
        --h1-font-weight:600;

        --h2-font-size-desktop:72px;
        --h2-font-size-tablet:64px;
        --h2-font-size-mobile:48px;
        --h2-letter-spacing:3%;
        --h2-font-weight:400;

        --h3-font-size-desktop:64px;
        --h3-font-size-tablet:48px;
        --h3-font-size-mobile:32px;
        --h3-letter-spacing:3%;
        --h3-font-weight:400;

        --p-large-font-size-desktop:32px;
        --p-large-font-size-tablet:28px;
        --p-large-font-size-mobile:24px;
        --p-large-letter-spacing:3%;
        --p-large-font-weight:300;

        --p-medium-font-size-desktop:28px;
        --p-medium-font-size-tablet:24px;
        --p-medium-font-size-mobile:20px;
        --p-medium-letter-spacing:3%;
        --p-medium-font-weight:300;

        --p-small-font-size-desktop:24px;
        --p-small-font-size-tablet:20px;
        --p-small-font-size-mobile:16px;
        --p-small-letter-spacing:3%;
        --p-small-font-weight:300;

    }
}

body{
    margin: 0;
    line-height: 1.4;
    font-family: din;
    letter-spacing: 3%;
}

header{
    display: flex;
    position: relative;
    height: 5rem;
    justify-content: space-between;
    padding-inline: 3%;

    nav{
        align-content: center;

        /* .menu-open, .menu-close */
        .menu-button {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            padding: 0;
            justify-content: center;
            z-index: 11;
            position: relative;
            path {
                transition: .2s ease-out;
                transform-origin: center;
            }
            &:has(+ .hamburgerMenu-open) {
                .lijn-onder, .lijn-boven {
                    opacity: 0;
                }
                .lijn-midden {
                    rotate: 45deg;
                }
                .lijn-midden + .lijn-midden {
                    rotate: -45deg;
                }
            }
        }
        /* .menu-close{
            position: absolute;
            right: 0;
            padding: 3%;
        } */

        .menu{
            position: fixed;
            top: 0;
            right: 0;
            width: 100vw;
            height: 100vh;
            height: 100dvh;
            z-index: 10;
            transform: translateX(100%);
            transition: transform .3s ease-in-out;

            background-color: #72c1f2;
            color: var(--primary-text-color);

            /* ul{ */
                padding: 0;
                margin:0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                li{
                    text-align: center;
                    list-style: none;

                    a{
                        text-decoration: none;
                        color: var(--primary-text-color);
                    }
                }
            /* } */
        }

        .hamburgerMenu-open{
            transform: translateX(0);
        }

        
    }

    

    @media (min-width: 1024px){
        nav{
            .menu-button, .menu-close{
                display: none;
            }

            .menu{
                position: absolute;
                top: 0;
                right: 0;
                width: 80%;
                height: 5rem;
                z-index: 1;
                transform: translateX(0);

                background-color: transparent;

                ul{
                    display: flex;
                    flex-direction: row;
                    height: 5rem;
                    margin: 0;
                    align-items: center;

                    li{
                        a{
                            color: black;
                        }
                        .contact-us-btn{
                            color: var(--primary-text-color);

                            &:hover{
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

}



main{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);

    h1{
        font-weight: var(--h1-font-weight);
        font-size: var(--h1-font-size-mobile);
        text-align: center;
        margin: 0;
    }


    .viewer, .configurator, .full-experience{
        padding-bottom: 2rem;

        img{
            width: 21rem;
            height: auto;
            margin: 0;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        p, details{
            font-size: var(--p-large-font-size-mobile);
            font-weight: var(--p-large-font-weight);
            margin: 0;
        }

        h2{
            font-size: var(--h3-font-size-mobile) ;
            font-weight: var(--h3-font-weight);
            margin: 0;
        }

        p:nth-of-type(2){
            display: none;
        }

        ul{
            display: none;
        }

        @media(min-width:768px){
            p:first-of-type{
                display: none;
            }
            details{
                display: none;
            }

            ul{
                display: block;

            }
        }
    }


    .quote{
        background-color: var(--quote-background-color);
        color: var(--primary-text-color);
        font-size: var(--h2-font-size-mobile);
        font-weight: var(--h2-font-weight);
        padding-inline: 3%;
        margin: 0;

        em{
            color: var(--secondary-text-color);
            font-style: normal;
        }
    }

    .implem{
        padding-inline: 3%;

        img{
            width: 100%;
        }
    }

    .CTA{
        padding-inline: 3%;
        padding-top: 1rem;
        padding-bottom: 2rem;

        p{
            margin: 0;
        }
        h2{
            margin-top: 0;
        }

        a:nth-of-type(2){
            text-decoration: none;
            color: var(--button-color);
            border: var(--button-color) 2px solid;
            border-radius: 10rem;
            padding: .75rem 1.5rem .75rem 1.5rem;
            cursor: pointer;

            &:hover{
                background-color: var(--primary-text-color);
            }
        }
    }
}

.contact-us-btn{
    background-color: var(--button-color);
    color: var(--primary-text-color);
    border: var(--button-color) 2px solid;
    border-radius: 10rem;
    text-decoration: none;
    padding: .75rem 1.5rem .75rem 1.5rem;
    cursor: pointer;

    &:hover{
        background-color: var(--primary-text-color);
        color: var(--button-color);
    }
}

footer{
    padding-inline: 3%;
    height: fit-content;
    padding-top: 1rem;
    color: var(--contact-background-color);

    p{
        margin: 0;
    }

    div:nth-of-type(2){
        display: flex;
        justify-content: space-between;
        max-width: 25rem;

        a{
            text-decoration: none;
            color: var(--contact-background-color);
            cursor: pointer;
        }
    }

    @media(min-width:768px){
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 6rem;

        div:nth-of-type(2){
            align-items: flex-end;
        }
    }

}
